@model BSIT3L_Movies.Models.MovieViewModel


<!DOCTYPE html>
<html>
<head>
    <title>Movie</title>
    <style>
        body{
            font-family:Arial;
        }
        .card-title{
            font-weight:bold;
            font-size:25px;
        }
        img{
            height:20rem;
            object-fit:cover;
            object-position: top center; 
        }

        .card{
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    

    <div class="card" style="width: 38rem;">
        <img src="@Model.Image" class="card-img-top" alt="movie_image">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">Movie ID: @Model.Id</p>
            <p class="card-text">Genre: @Model.Genre</p>
            <p class="card-text">Release Year: @Model.ReleaseYear</p>
            <p class="card-text">Rating: @Model.Rating</p>
            <p class="card-text">@Model.About</p>
            <a href="@Model.Trailer" class="btn btn-danger">Trailer</a>
        </div>
    </div>

</body>
</html>